* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(245, 245, 245);
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
}

header{
    line-height: 3.5rem;
    background-color: black;
    color:  rgb(187, 129, 22);
    font-size: 1.2rem;
    padding: 20px 10px;
}

header h2{
    font-size: 2.5rem;
}
header.header-container {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

input[type="search"] {
  width: 550px;
  padding: 8px 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 10px #ffcc00;
  font-size: 1rem;
  position: relative;
  left: 10rem;
}
div{
    text-align: center;
    border: solid white;
    background-color: rgb(187, 129, 22);
     border-radius: 30px;
    box-shadow: 0 0px 20px rgb(187, 129, 22);
    margin: 20px auto;
    margin-bottom: 30px;
    width: 750px;
}
ul{
    list-style: none;
    padding: 0;
}